$font-size-default: 20px;

.rating-stars__container {
  position: relative;
  .rating-stars {
    font-size: $font-size-default;
    display: inline-block;
    overflow: hidden;
    left: 0;

    &::before {
      content: "★★★★★★★★★★"
    }

    &.orange {
      position: relative;
      color: orange;
      z-index: 1;
    }

    &.grey {
      position: absolute;
      color: lightgrey;
    }
  }
}
