$margin-top-default: 10px;

.show-details__back-button {
  cursor: pointer;
  padding-left: 0;
  color: #3f51b5;
}

.show-details__figure {
  display: flex;
}

.show-details__info,
.show-details__rating  {
  margin-top: $margin-top-default;
}

.show-details__summary {
  margin-bottom: $margin-top-default * 2;
}

@media only screen and (max-width: 600px) {
  .show-details__figure {
    flex-direction: column;
    align-items: center;
  }
}
